In [24]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [25]:
data = pd.read_csv('synthetic_heart_disease_data.csv')

In [26]:
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,67,0,1,143,279,0,1,194,0,3.9,2,3,2,1
1,57,1,2,184,553,1,0,166,1,0.7,1,1,2,1
2,43,1,1,113,177,0,0,118,0,3.4,0,3,1,1
3,71,1,2,95,221,0,1,85,1,4.7,1,1,0,1
4,36,0,0,185,297,0,1,78,1,6.1,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,66,1,0,112,445,1,0,173,1,1.6,1,0,0,1
199996,53,0,2,185,270,0,2,122,0,2.7,0,0,0,1
199997,55,1,1,199,361,0,1,130,0,3.0,2,1,1,1
199998,62,1,1,198,434,0,0,191,1,3.1,2,2,0,1
199999,56,0,0,142,241,0,2,199,0,5.3,0,3,2,1

In [27]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,67,0,1,143,279,0,1,194,0,3.9,2,3,2,1
1,57,1,2,184,553,1,0,166,1,0.7,1,1,2,1
2,43,1,1,113,177,0,0,118,0,3.4,0,3,1,1
3,71,1,2,95,221,0,1,85,1,4.7,1,1,0,1
4,36,0,0,185,297,0,1,78,1,6.1,1,0,1,1

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 14 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   age       200000 non-null  int64
 1   sex       200000 non-null  int64
 2   cp        200000 non-null  int64
 3   trestbps  200000 non-null  int64
 4   chol      200000 non-null  int64
 5   fbs       200000 non-null  int64
 6   restecg   200000 non-null  int64
 7   thalach   200000 non-null  int64
 8   exang     200000 non-null  int64
 9   oldpeak   200000 non-null  float64
 10  slope     200000 non-null  int64
 11  ca        200000 non-null  int64
 12  thal      200000 non-null  int64
 13  target    200000 non-null  int64
dtypes: float64(1), int64(13)
memory usage: 21.4 MB

In [29]:
data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [30]:
data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000
mean,53.974790,0.500655,1.498405,144.571535,344.597125,0.150240,1.004095,135.861900,0.301045,3.098798,1.001310,0.747770,1.000680,0.855985
std,14.695856,0.500001,1.119309,31.781012,126.571715,0.357307,0.816224,37.807736,0.458713,1.792295,0.817681,0.885016,0.816298,0.351106
min,29.000000,0.000000,0.000000,90.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,41.000000,0.000000,0.000000,117.000000,235.000000,0.000000,0.000000,103.000000,0.000000,1.500000,0.000000,0.000000,0.000000,1.000000
50%,54.000000,1.000000,2.000000,145.000000,344.000000,0.000000,1.000000,136.000000,0.000000,3.100000,1.000000,0.000000,1.000000,1.000000
75%,67.000000,1.000000,2.000000,172.000000,454.000000,0.000000,2.000000,169.000000,1.000000,4.600000,2.000000,1.000000,2.000000,1.000000
max,79.000000,1.000000,3.000000,199.000000,563.000000,1.000000,2.000000,201.000000,1.000000,6.200000,2.000000,3.000000,2.000000,1.000000

In [31]:
data["target"].describe()

count    200000.000000
mean          0.855985
std           0.351106
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: target, dtype: float64

In [32]:
data['target'].value_counts()

target
1    171197
0     28803
Name: count, dtype: int64

In [33]:
X = data.drop(columns=['target'])  
y = data['target']

In [34]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.2, random_state=8, stratify=y)
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((160000, 13), (40000, 13), (160000,), (40000,))

In [35]:
sc = StandardScaler()
x_train = sc.fit_transform(X_train)
x_test = sc.transform(X_test)

In [36]:
from sklearn.model_selection import GridSearchCV
from xgboost import XGBClassifier
param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [3, 6, 9],
    'learning_rate': [0.01, 0.1, 0.2],
    'subsample': [0.8, 1.0],
    'colsample_bytree': [0.8, 1.0]
}

grid_search = GridSearchCV(estimator=XGBClassifier(objective="binary:logistic", random_state=42),  
                           param_grid=param_grid, cv=3, scoring='accuracy')  
xgb_model = XGBClassifier(objective="binary:logistic", random_state=42)  
xgb_model.fit(X_train, Y_train) 
Y_pred_xgb = xgb_model.predict(X_test)

In [37]:
Y_pred_xgb.shape

(40000,)

In [38]:
score_xgb = round(accuracy_score(Y_pred_xgb,Y_test)*100,2)

print("The accuracy score achieved using XGBoost is: "+str(score_xgb)+" %")

The accuracy score achieved using XGBoost is: 100.0 %

In [39]:
from keras.models import Sequential
from keras.layers import Dense

In [40]:
sc = StandardScaler()
x_train = sc.fit_transform(X_train)
x_test = sc.transform(X_test)

In [41]:
model = Sequential()
model.add(Dense(11,activation='relu',input_dim=13))
model.add(Dense(1,activation='sigmoid'))

c:\Users\Saradha\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [42]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [43]:
hist = model.fit(x_train, Y_train, batch_size=10, epochs=3)

Epoch 1/3
16000/16000 ━━━━━━━━━━━━━━━━━━━━ 14s 820us/step - accuracy: 0.8986 - loss: 0.2199
Epoch 2/3
16000/16000 ━━━━━━━━━━━━━━━━━━━━ 13s 806us/step - accuracy: 0.9560 - loss: 0.0996
Epoch 3/3
16000/16000 ━━━━━━━━━━━━━━━━━━━━ 13s 832us/step - accuracy: 0.9614 - loss: 0.0885

In [48]:
loss,accuracy = model.evaluate(x_test,Y_test)
print("LOSS:  " + "%.2f" % loss)
print("ACCURACY:  " + "%.2f" % accuracy)

1250/1250 ━━━━━━━━━━━━━━━━━━━━ 1s 736us/step - accuracy: 0.9635 - loss: 0.0853
LOSS:  0.08
ACCURACY:  0.96