In [37]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [36]:
# data = pd.read_csv('preprocessed_dataset.csv')
df1 = pd.read_csv('preprocessed_dataset.csv')
df2 = pd.read_csv('cleaned_file.csv')

# Concatenate them row-wise (vertically)
data = pd.concat([df1, df2], ignore_index=True)

# Optional: print first few rows to confirm
print(data.head())

   age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  \
0   67    0   1       143   524    0        0       99      0      1.2      1
1   57    1   2       113   210    0        0      170      0      3.6      1
2   43    1   1        95   279    0        0      155      0      4.6      2
3   71    1   2       162   458    0        1       73      0      3.4      2
4   36    0   0       115   260    0        0      152      0      3.3      2

   ca  thal  target
0   0     0       1
1   0     0       1
2   2     1       1
3   1     0       1
4   0     0       0

In [38]:
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,67,0,1,143,524,0,0,99,0,1.2,1,0,0,1
1,57,1,2,113,210,0,0,170,0,3.6,1,0,0,1
2,43,1,1,95,279,0,0,155,0,4.6,2,2,1,1
3,71,1,2,162,458,0,1,73,0,3.4,2,1,0,1
4,36,0,0,115,260,0,0,152,0,3.3,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13348,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
13349,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
13350,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
13351,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
13352,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [39]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,67,0,1,143,524,0,0,99,0,1.2,1,0,0,1
1,57,1,2,113,210,0,0,170,0,3.6,1,0,0,1
2,43,1,1,95,279,0,0,155,0,4.6,2,2,1,1
3,71,1,2,162,458,0,1,73,0,3.4,2,1,0,1
4,36,0,0,115,260,0,0,152,0,3.3,2,0,0,0

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13353 entries, 0 to 13352
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       13353 non-null  int64
 1   sex       13353 non-null  int64
 2   cp        13353 non-null  int64
 3   trestbps  13353 non-null  int64
 4   chol      13353 non-null  int64
 5   fbs       13353 non-null  int64
 6   restecg   13353 non-null  int64
 7   thalach   13353 non-null  int64
 8   exang     13353 non-null  int64
 9   oldpeak   13353 non-null  float64
 10  slope     13353 non-null  int64
 11  ca        13353 non-null  int64
 12  thal      13353 non-null  int64
 13  target    13353 non-null  int64
dtypes: float64(1), int64(13)
memory usage: 1.4 MB

In [41]:
data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [42]:
data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,13353.000000,13353.000000,13353.000000,13353.000000,13353.000000,13353.000000,13353.000000,13353.000000,13353.000000,13353.000000,13353.000000,13353.000000,13353.000000,13353.000000
mean,53.757882,0.557328,1.355950,135.447765,325.331012,0.048454,0.684565,138.432262,0.318955,2.707122,1.110088,0.586610,0.922040,0.692429
std,14.184873,0.496721,1.049093,25.409053,123.088686,0.214731,0.750344,35.957975,0.466089,1.856094,0.823840,0.808512,1.020823,0.461505
min,20.000000,0.000000,0.000000,90.000000,0.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,42.000000,0.000000,0.000000,115.000000,226.000000,0.000000,0.000000,109.000000,0.000000,1.100000,0.000000,0.000000,0.000000,0.000000
50%,54.000000,1.000000,1.000000,134.000000,306.000000,0.000000,1.000000,141.000000,0.000000,2.500000,1.000000,0.000000,1.000000,1.000000
75%,65.000000,1.000000,2.000000,155.000000,427.000000,0.000000,1.000000,168.000000,1.000000,4.300000,2.000000,1.000000,2.000000,1.000000
max,80.000000,1.000000,3.000000,200.000000,602.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,4.000000,3.000000,1.000000

In [43]:
data["target"].describe()

count    13353.000000
mean         0.692429
std          0.461505
min          0.000000
25%          0.000000
50%          1.000000
75%          1.000000
max          1.000000
Name: target, dtype: float64

In [44]:
data['target'].value_counts()

target
1    9246
0    4107
Name: count, dtype: int64

In [45]:
X = data.drop(columns=['target'])  
y = data['target']

In [46]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.3, random_state=42)
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((9347, 13), (4006, 13), (9347,), (4006,))

In [47]:
sc = StandardScaler()
x_train = sc.fit_transform(X_train)
x_test = sc.transform(X_test)

In [48]:
from sklearn.model_selection import GridSearchCV
from xgboost import XGBClassifier
xgb_model = XGBClassifier()
xgb_model.fit(X_train, Y_train)
Y_pred_xgb = xgb_model.predict(X_test)

In [49]:
Y_pred_xgb.shape

(4006,)

In [50]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, mean_squared_error

# **1. Linear Regression (Regression Model)**
lr_model = LinearRegression()
lr_model.fit(X_train, Y_train)
Y_pred_lr = lr_model.predict(X_test)
mse = mean_squared_error(Y_test, Y_pred_lr)
print(f"Linear Regression MSE: {mse}")

# Convert predictions to nearest integer class
Y_pred_rounded = Y_pred_lr.round()

# Compute Accuracy
lr_accuracy = accuracy_score(Y_test, Y_pred_rounded)
print(f"Linear Regression Accuracy: {lr_accuracy}")
# **2. Random Forest Classifier**
rf_model = RandomForestClassifier()
rf_model.fit(X_train, Y_train)
Y_pred_rf = rf_model.predict(X_test)
rf_accuracy = accuracy_score(Y_test, Y_pred_rf)
print(f"Random Forest Accuracy: {rf_accuracy}")

# **3. Support Vector Classifier (SVC)**
svc_model = SVC()
svc_model.fit(X_train, Y_train)
Y_pred_svc = svc_model.predict(X_test)
svc_accuracy = accuracy_score(Y_test, Y_pred_svc)
print(f"SVM Accuracy: {svc_accuracy}")

# **4. Decision Tree Classifier**
dt_model = DecisionTreeClassifier()
dt_model.fit(X_train, Y_train)
Y_pred_dt = dt_model.predict(X_test)
dt_accuracy = accuracy_score(Y_test, Y_pred_dt)
print(f"Decision Tree Accuracy: {dt_accuracy}")

# **5. k-Nearest Neighbors (KNN)**
knn_model = KNeighborsClassifier()
knn_model.fit(X_train, Y_train)
Y_pred_knn = knn_model.predict(X_test)
knn_accuracy = accuracy_score(Y_test, Y_pred_knn)
print(f"KNN Accuracy: {knn_accuracy}")

Linear Regression MSE: 0.1654418690048211
Linear Regression Accuracy: 0.745881178232651
Random Forest Accuracy: 0.971792311532701
SVM Accuracy: 0.6944583125312032
Decision Tree Accuracy: 0.9480778831752371
KNN Accuracy: 0.7518721917124314

In [51]:
from sklearn.linear_model import LogisticRegression

log_model = LogisticRegression()
log_model.fit(X_train, Y_train)
Y_pred_log = log_model.predict(X_test)
log_accuracy = accuracy_score(Y_test, Y_pred_log)
print(f"Logistic Regression Accuracy: {log_accuracy}")

Logistic Regression Accuracy: 0.7378931602596106

/usr/local/python/3.12.1/lib/python3.12/site-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [52]:
score_xgb = round(accuracy_score(Y_pred_xgb,Y_test)*100,2)

print("The accuracy score achieved using XGBoost is: "+str(score_xgb)+" %")

The accuracy score achieved using XGBoost is: 97.55 %

In [53]:
from keras.models import Sequential
from keras.layers import Dense

In [54]:
sc = StandardScaler()
x_train = sc.fit_transform(X_train)
x_test = sc.transform(X_test)

In [55]:
model = Sequential()
model.add(Dense(11,activation='relu',input_dim=13))
model.add(Dense(11,activation='relu'))
model.add(Dense(11,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

/usr/local/python/3.12.1/lib/python3.12/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [56]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [57]:
hist = model.fit(x_train, Y_train, batch_size=10, epochs=3)

Epoch 1/3

935/935 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.6712 - loss: 0.5621
Epoch 2/3
935/935 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8412 - loss: 0.3642
Epoch 3/3
935/935 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8593 - loss: 0.3260

In [58]:
loss,accuracy = model.evaluate(x_test,Y_test)
print("LOSS:  " + "%.2f" % loss)
print("ACCURACY:  " + "%.2f" % accuracy)

126/126 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8557 - loss: 0.3330
LOSS:  0.34
ACCURACY:  0.85

In [59]:
import pickle
with open("xgb_model.pkl", "wb") as model_file:
    pickle.dump(xgb_model, model_file)

# Save the StandardScaler as well
with open("scaler.pkl", "wb") as scaler_file:
    pickle.dump(sc, scaler_file)