In [2]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [3]:
data = pd.read_csv('preprocessed_dataset.csv')

In [4]:
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,67,0,1,143,524,0,0,99,0,1.2,1,0,0,1
1,57,1,2,113,210,0,0,170,0,3.6,1,0,0,1
2,43,1,1,95,279,0,0,155,0,4.6,2,2,1,1
3,71,1,2,162,458,0,1,73,0,3.4,2,1,0,1
4,36,0,0,115,260,0,0,152,0,3.3,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,35,0,0,119,559,0,0,193,0,0.3,0,1,0,0
9996,43,0,3,124,402,0,0,87,1,4.9,1,1,0,1
9997,68,1,2,134,424,0,0,187,0,1.4,0,0,0,0
9998,47,0,1,135,137,0,2,88,1,2.4,1,0,0,1
9999,71,1,0,151,535,0,0,147,1,1.8,1,1,0,1

In [5]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,67,0,1,143,524,0,0,99,0,1.2,1,0,0,1
1,57,1,2,113,210,0,0,170,0,3.6,1,0,0,1
2,43,1,1,95,279,0,0,155,0,4.6,2,2,1,1
3,71,1,2,162,458,0,1,73,0,3.4,2,1,0,1
4,36,0,0,115,260,0,0,152,0,3.3,2,0,0,0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       10000 non-null  int64
 1   sex       10000 non-null  int64
 2   cp        10000 non-null  int64
 3   trestbps  10000 non-null  int64
 4   chol      10000 non-null  int64
 5   fbs       10000 non-null  int64
 6   restecg   10000 non-null  int64
 7   thalach   10000 non-null  int64
 8   exang     10000 non-null  int64
 9   oldpeak   10000 non-null  float64
 10  slope     10000 non-null  int64
 11  ca        10000 non-null  int64
 12  thal      10000 non-null  int64
 13  target    10000 non-null  int64
dtypes: float64(1), int64(13)
memory usage: 1.1 MB

In [7]:
data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [8]:
data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.0,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000
mean,54.052400,0.504400,1.490100,134.720100,345.378000,0.0,0.714700,135.198200,0.297200,3.092890,1.001900,0.484400,0.542900,0.74440
std,14.670262,0.500006,1.028498,25.878801,126.299643,0.0,0.787506,37.985313,0.457048,1.788691,0.817168,0.686297,0.739875,0.43622
min,29.000000,0.000000,0.000000,90.000000,126.000000,0.0,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,41.000000,0.000000,1.000000,112.000000,237.000000,0.0,0.000000,102.000000,0.000000,1.500000,0.000000,0.000000,0.000000,0.00000
50%,54.000000,1.000000,1.000000,135.000000,345.000000,0.0,1.000000,135.000000,0.000000,3.100000,1.000000,0.000000,0.000000,1.00000
75%,67.000000,1.000000,2.000000,157.000000,455.000000,0.0,1.000000,168.000000,1.000000,4.600000,2.000000,1.000000,1.000000,1.00000
max,79.000000,1.000000,3.000000,179.000000,563.000000,0.0,2.000000,201.000000,1.000000,6.200000,2.000000,2.000000,2.000000,1.00000

In [9]:
data["target"].describe()

count    10000.00000
mean         0.74440
std          0.43622
min          0.00000
25%          0.00000
50%          1.00000
75%          1.00000
max          1.00000
Name: target, dtype: float64

In [10]:
data['target'].value_counts()

target
1    7444
0    2556
Name: count, dtype: int64

In [11]:
X = data.drop(columns=['target'])  
y = data['target']

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.3, random_state=42)
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((7000, 13), (3000, 13), (7000,), (3000,))

In [13]:
sc = StandardScaler()
x_train = sc.fit_transform(X_train)
x_test = sc.transform(X_test)

In [14]:
from sklearn.model_selection import GridSearchCV
from xgboost import XGBClassifier
xgb_model = XGBClassifier()
xgb_model.fit(X_train, Y_train)
Y_pred_xgb = xgb_model.predict(X_test)

In [15]:
Y_pred_xgb.shape

(3000,)

In [16]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, mean_squared_error

# Linear Regression
lr_model = LinearRegression()
lr_model.fit(X_train, Y_train)
Y_pred_lr = lr_model.predict(X_test)
mse = mean_squared_error(Y_test, Y_pred_lr)
print(f"Linear Regression MSE: {mse}")

# Random Forest Classifier
rf_model = RandomForestClassifier()
rf_model.fit(X_train, Y_train)
Y_pred_rf = rf_model.predict(X_test)
rf_accuracy = accuracy_score(Y_test, Y_pred_rf)
print(f"Random Forest Accuracy: {rf_accuracy}")

# Support Vector Classifier
svc_model = SVC()
svc_model.fit(X_train, Y_train)
Y_pred_svc = svc_model.predict(X_test)
svc_accuracy = accuracy_score(Y_test, Y_pred_svc)
print(f"SVM Accuracy: {svc_accuracy}")

# Decision Tree Classifier
dt_model = DecisionTreeClassifier()
dt_model.fit(X_train, Y_train)
Y_pred_dt = dt_model.predict(X_test)
dt_accuracy = accuracy_score(Y_test, Y_pred_dt)
print(f"Decision Tree Accuracy: {dt_accuracy}")

Linear Regression MSE: 0.10826589049178843
Random Forest Accuracy: 0.9993333333333333
SVM Accuracy: 0.7473333333333333
Decision Tree Accuracy: 1.0

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, mean_squared_error

# **1. Linear Regression (Regression Model)**
lr_model = LinearRegression()
lr_model.fit(X_train, Y_train)
Y_pred_lr = lr_model.predict(X_test)
mse = mean_squared_error(Y_test, Y_pred_lr)
print(f"Linear Regression MSE: {mse}")

# Convert predictions to nearest integer class
Y_pred_rounded = Y_pred_lr.round()

# Compute Accuracy
lr_accuracy = accuracy_score(Y_test, Y_pred_rounded)
print(f"Linear Regression Accuracy: {lr_accuracy}")
# **2. Random Forest Classifier**
rf_model = RandomForestClassifier()
rf_model.fit(X_train, Y_train)
Y_pred_rf = rf_model.predict(X_test)
rf_accuracy = accuracy_score(Y_test, Y_pred_rf)
print(f"Random Forest Accuracy: {rf_accuracy}")

# **3. Support Vector Classifier (SVC)**
svc_model = SVC()
svc_model.fit(X_train, Y_train)
Y_pred_svc = svc_model.predict(X_test)
svc_accuracy = accuracy_score(Y_test, Y_pred_svc)
print(f"SVM Accuracy: {svc_accuracy}")

# **4. Decision Tree Classifier**
dt_model = DecisionTreeClassifier()
dt_model.fit(X_train, Y_train)
Y_pred_dt = dt_model.predict(X_test)
dt_accuracy = accuracy_score(Y_test, Y_pred_dt)
print(f"Decision Tree Accuracy: {dt_accuracy}")

# **5. k-Nearest Neighbors (KNN)**
knn_model = KNeighborsClassifier()
knn_model.fit(X_train, Y_train)
Y_pred_knn = knn_model.predict(X_test)
knn_accuracy = accuracy_score(Y_test, Y_pred_knn)
print(f"KNN Accuracy: {knn_accuracy}")

Linear Regression MSE: 0.10826589049178843
Linear Regression Accuracy (Rounded): 0.873
Random Forest Accuracy: 0.9986666666666667
SVM Accuracy: 0.7473333333333333
Decision Tree Accuracy: 1.0
KNN Accuracy: 0.7373333333333333

In [20]:
from sklearn.linear_model import LogisticRegression

log_model = LogisticRegression()
log_model.fit(X_train, Y_train)
Y_pred_log = log_model.predict(X_test)
log_accuracy = accuracy_score(Y_test, Y_pred_log)
print(f"Logistic Regression Accuracy: {log_accuracy}")

Logistic Regression Accuracy: 0.8776666666666667

/usr/local/python/3.12.1/lib/python3.12/site-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [108]:
score_xgb = round(accuracy_score(Y_pred_xgb,Y_test)*100,2)

print("The accuracy score achieved using XGBoost is: "+str(score_xgb)+" %")

The accuracy score achieved using XGBoost is: 99.97 %

In [109]:
from keras.models import Sequential
from keras.layers import Dense

In [110]:
sc = StandardScaler()
x_train = sc.fit_transform(X_train)
x_test = sc.transform(X_test)

In [111]:
model = Sequential()
model.add(Dense(11,activation='relu',input_dim=13))
model.add(Dense(11,activation='relu'))
model.add(Dense(11,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

c:\Users\ASUS\AppData\Local\Programs\Python\Python310\lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [112]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [113]:
hist = model.fit(x_train, Y_train, batch_size=10, epochs=3)

Epoch 1/3
700/700 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7361 - loss: 0.5030
Epoch 2/3
700/700 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8978 - loss: 0.2422
Epoch 3/3
700/700 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.9122 - loss: 0.2069

In [114]:
loss,accuracy = model.evaluate(x_test,Y_test)
print("LOSS:  " + "%.2f" % loss)
print("ACCURACY:  " + "%.2f" % accuracy)

94/94 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9049 - loss: 0.2187
LOSS:  0.21
ACCURACY:  0.91

In [15]:
import pickle
with open("xgb_model.pkl", "wb") as model_file:
    pickle.dump(xgb_model, model_file)

# Save the StandardScaler as well
with open("scaler.pkl", "wb") as scaler_file:
    pickle.dump(sc, scaler_file)